# Import libraries

In [13]:
# Load necessary libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

# Load raw Data for Pitchers from 2017 till 2022

In [34]:
# Load data from CSV files
pitch_2017 = pd.read_csv("../Data/Raw_Data/pitch_arsenals_2017.csv")
pitch_2018 = pd.read_csv("../Data/Raw_Data/pitch_arsenals_2018.csv")
pitch_2019 = pd.read_csv("../Data/Raw_Data/pitch_arsenals_2019.csv")
pitch_2020 = pd.read_csv("../Data/Raw_Data/pitch_arsenals_2020.csv")
pitch_2021 = pd.read_csv("../Data/Raw_Data/pitch_arsenals_2021.csv")
pitch_2022 = pd.read_csv("../Data/Raw_Data/pitch_arsenals_2022.csv")

In [35]:
# Adding a year column to each DataFrame
pitch_2017.insert(0,'Year',2017)
pitch_2018.insert(0,'Year',2018)
pitch_2019.insert(0,'Year',2019)
pitch_2020.insert(0,'Year',2020)
pitch_2021.insert(0,'Year',2021)
pitch_2022.insert(0,'Year',2022)

In [37]:
# Concatinate 6 DataFrames in one 
pitch_all=pd.concat([pitch_2017, pitch_2018, pitch_2019, pitch_2020, pitch_2021, pitch_2022], axis=0)
pitch_all

,Year,last_name,first_name,pitcher,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,kn_avg_speed
0,2017,Verlander,Justin,434378,95.3,95.6,92.1,88.2,87.6,80.4,NaN,NaN
1,2017,Sale,Chris,519242,94.8,93.6,NaN,79.8,86.8,NaN,NaN,NaN
2,2017,Archer,Chris,502042,95.5,NaN,NaN,88.9,85.9,NaN,NaN,NaN
3,2017,Porcello,Rick,519144,92.1,89.7,NaN,85.6,80.3,74.7,NaN,NaN
4,2017,González,Gio,461829,90.0,89.3,NaN,NaN,83.0,74.8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
597,2022,Castro,Anthony,621593,94.8,95.5,NaN,84.4,87.3,NaN,NaN,NaN
598,2022,Cruz,Fernando,518585,94.4,93.4,NaN,86.7,NaN,NaN,81.7,NaN
599,2022,Scott,Tayler,605463,94.1,93.5,NaN,83.9,89.2,NaN,NaN,NaN
600,2022,Nelson,Ryne,669194,94.8,NaN,NaN,82.5,81.8,76.9,NaN,NaN
601,2022,Zeuch,T.J.,643615,91.8,91.9,86.3,80.8,85.6,NaN,NaN,NaN