# Import libraries

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
from pybaseball import pitching_stats

In [3]:
# Batting Stats , qual is the number of players appearences 
pitching = pitching_stats(2007,2022, qual=200)
pitching

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA
1,10954,2018,Jacob deGrom,NYM,30,10,9,9.0,1.70,32,...,11.1,20,0.039,112.9,148,0.287,515,0.164,0.315,NaN
12,1303,2011,Roy Halladay,PHI,34,19,6,8.7,2.35,32,...,NaN,0,NaN,NaN,0,NaN,0,0.185,0.294,NaN
6,1943,2009,Zack Greinke,KCR,25,16,8,8.7,2.16,33,...,NaN,0,NaN,NaN,0,NaN,0,0.187,0.287,NaN
4,2036,2015,Clayton Kershaw,LAD,27,16,7,8.6,2.13,33,...,8.9,15,0.028,113.3,132,0.244,542,0.164,0.323,NaN
203,8700,2009,Justin Verlander,DET,26,19,9,8.4,3.45,35,...,NaN,0,NaN,NaN,0,NaN,0,0.175,0.289,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,2072,2013,Jeremy Guthrie,KCR,34,15,12,0.6,4.04,33,...,NaN,0,NaN,NaN,0,NaN,0,0.185,0.236,NaN
321,3551,2012,Clayton Richard,SDP,28,14,14,0.4,3.99,33,...,NaN,0,NaN,NaN,0,NaN,0,0.183,0.246,NaN
258,4366,2011,Joe Saunders,ARI,30,12,13,0.3,3.69,33,...,NaN,0,NaN,NaN,0,NaN,0,0.169,0.231,NaN
384,1116,2007,Livan Hernandez,ARI,32,11,11,0.2,4.93,33,...,NaN,0,NaN,NaN,0,NaN,0,0.185,0.239,NaN
386,150,2010,Rodrigo Lopez,ARI,34,7,16,-0.1,5.00,33,...,NaN,0,NaN,NaN,0,NaN,0,0.199,0.250,NaN

In [5]:
# Export DataFrame to csv
pitching.to_csv('../static/data/Raw_Data/pitching.csv', index=False)

In [6]:
# Group by player ID and drop players with only 1 season of data 
# Leave players with a t least 2 seasons of data
pitching = pitching.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0]>1)

In [7]:
pitching

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA
1,10954,2018,Jacob deGrom,NYM,30,10,9,9.0,1.70,32,...,11.1,20,0.039,112.9,148,0.287,515,0.164,0.315,NaN
12,1303,2011,Roy Halladay,PHI,34,19,6,8.7,2.35,32,...,NaN,0,NaN,NaN,0,NaN,0,0.185,0.294,NaN
6,1943,2009,Zack Greinke,KCR,25,16,8,8.7,2.16,33,...,NaN,0,NaN,NaN,0,NaN,0,0.187,0.287,NaN
4,2036,2015,Clayton Kershaw,LAD,27,16,7,8.6,2.13,33,...,8.9,15,0.028,113.3,132,0.244,542,0.164,0.323,NaN
203,8700,2009,Justin Verlander,DET,26,19,9,8.4,3.45,35,...,NaN,0,NaN,NaN,0,NaN,0,0.175,0.289,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,976,2010,Randy Wolf,MIL,33,13,12,0.8,4.17,34,...,NaN,0,NaN,NaN,0,NaN,0,0.181,0.248,NaN
327,2072,2013,Jeremy Guthrie,KCR,34,15,12,0.6,4.04,33,...,NaN,0,NaN,NaN,0,NaN,0,0.185,0.236,NaN
321,3551,2012,Clayton Richard,SDP,28,14,14,0.4,3.99,33,...,NaN,0,NaN,NaN,0,NaN,0,0.183,0.246,NaN
258,4366,2011,Joe Saunders,ARI,30,12,13,0.3,3.69,33,...,NaN,0,NaN,NaN,0,NaN,0,0.169,0.231,NaN
384,1116,2007,Livan Hernandez,ARI,32,11,11,0.2,4.93,33,...,NaN,0,NaN,NaN,0,NaN,0,0.185,0.239,NaN

In [8]:
# Write a function that takes WAR number from a player's season to insert in Next_WAR column
def next_season(player):
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player

pitching = pitching.groupby("IDfg", group_keys=False).apply(next_season)

In [9]:
# Show the next WAR of each player in a DF 
# Missing values are for some seasons with no data (some players could not play in these seasons)
war_df=pitching[['Name','Season','WAR','Next_WAR']]
war_df

                Name  Season  WAR  Next_WAR
241     Mark Buehrle    2007  3.3       4.2
286     Mark Buehrle    2008  4.2       3.0
295     Mark Buehrle    2009  3.0       3.8
353     Mark Buehrle    2010  3.8       3.1
237     Mark Buehrle    2011  3.1       1.6
..               ...     ...  ...       ...
160       Aaron Nola    2022  6.3       NaN
139  Sandy Alcantara    2021  4.3       5.7
11   Sandy Alcantara    2022  5.7       NaN
164     Shane Bieber    2019  5.5       4.9
78      Shane Bieber    2022  4.9       NaN

[326 rows x 4 columns]

## Cleaning Data

In [10]:
# Check null values
null_data=pitching.isnull().sum()
null_data

IDfg          0
Season        0
Name          0
Team          0
Age           0
           ...
Events        0
CStr%         0
CSW%          0
xERA        326
Next_WAR     91
Length: 335, dtype: int64

In [11]:
# List columns with no missing values 
complete_cols=list(pitching.columns[null_data == 0])

In [12]:
# Create a clean DataFrame with complete columns and Next_WAR column
pitching = pitching[complete_cols + ["Next_WAR"]].copy()
pitching

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,Oppo%+,Soft%+,Med%+,Hard%+,Barrels,HardHit,Events,CStr%,CSW%,Next_WAR
241,225,2007,Mark Buehrle,CHW,28,10,9,3.3,3.63,30,...,81,111,100,94,0,0,0,0.171,0.250,4.2
286,225,2008,Mark Buehrle,CHW,29,15,12,4.2,3.79,34,...,83,115,100,91,0,0,0,0.171,0.239,3.0
295,225,2009,Mark Buehrle,CHW,30,13,10,3.0,3.84,33,...,95,98,109,81,0,0,0,0.176,0.242,3.8
353,225,2010,Mark Buehrle,CHW,31,13,13,3.8,4.28,33,...,100,124,99,87,0,0,0,0.181,0.242,3.1
237,225,2011,Mark Buehrle,CHW,32,13,9,3.1,3.59,31,...,85,115,95,97,0,0,0,0.179,0.244,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,16149,2022,Aaron Nola,PHI,29,11,13,6.3,3.25,32,...,104,103,100,98,38,169,534,0.197,0.324,NaN
139,18684,2021,Sandy Alcantara,MIA,25,9,15,4.3,3.19,33,...,91,116,100,91,35,227,576,0.146,0.279,5.7
11,18684,2022,Sandy Alcantara,MIA,26,14,9,5.7,2.28,32,...,93,126,99,87,32,239,620,0.153,0.275,NaN
164,19427,2019,Shane Bieber,CLE,24,15,8,5.5,3.28,34,...,104,79,97,112,41,231,554,0.185,0.325,4.9
78,19427,2022,Shane Bieber,CLE,27,13,8,4.9,2.88,31,...,92,74,102,111,40,238,555,0.175,0.314,NaN

### Drop and Dummify all of the categorical variables

In [13]:
#Check columns types 
pitching.dtypes

IDfg          int64
Season        int64
Name         object
Team         object
Age           int64
             ...
HardHit       int64
Events        int64
CStr%       float64
CSW%        float64
Next_WAR    float64
Length: 155, dtype: object

In [14]:
# Find columns with object data type
pitching.dtypes[pitching.dtypes == 'object']

Name       object
Team       object
Dollars    object
Age Rng    object
dtype: object

In [15]:
# Drop 'Dollars' (Dollar value of player) and 'Age Rng' (Player's age range during a season) 
pitching = pitching.drop(['Dollars','Age Rng'], axis = 1, inplace = False)

In [16]:
# Assign each team name to number 
pitching["Team_code"] = pitching["Team"].astype("category").cat.codes

In [17]:
# Copy pitching data 
pitching_full = pitching.copy()

# Drop Nan Values from 'Next_Raw'
pitching = pitching.dropna().copy()

In [18]:
pitching

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,Soft%+,Med%+,Hard%+,Barrels,HardHit,Events,CStr%,CSW%,Next_WAR,Team_code
241,225,2007,Mark Buehrle,CHW,28,10,9,3.3,3.63,30,...,111,100,94,0,0,0,0.171,0.250,4.2,6
286,225,2008,Mark Buehrle,CHW,29,15,12,4.2,3.79,34,...,115,100,91,0,0,0,0.171,0.239,3.0,6
295,225,2009,Mark Buehrle,CHW,30,13,10,3.0,3.84,33,...,98,109,81,0,0,0,0.176,0.242,3.8,6
353,225,2010,Mark Buehrle,CHW,31,13,13,3.8,4.28,33,...,124,99,87,0,0,0,0.181,0.242,3.1,6
237,225,2011,Mark Buehrle,CHW,32,13,9,3.1,3.59,31,...,115,95,97,0,0,0,0.179,0.244,1.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,13431,2016,Marcus Stroman,TOR,25,9,10,3.3,4.37,32,...,98,100,101,28,264,631,0.172,0.264,3.4,31
13,16149,2018,Aaron Nola,PHI,25,17,6,5.5,2.37,33,...,122,113,71,21,168,542,0.198,0.322,3.4,22
301,16149,2019,Aaron Nola,PHI,26,12,7,3.4,3.87,34,...,92,95,110,34,210,532,0.206,0.315,6.3,22
139,18684,2021,Sandy Alcantara,MIA,25,9,15,4.3,3.19,33,...,116,100,91,35,227,576,0.146,0.279,5.7,16
164,19427,2019,Shane Bieber,CLE,24,15,8,5.5,3.28,34,...,79,97,112,41,231,554,0.185,0.325,4.9,8

## Machine Learning Model to predict next WAR

In [19]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

# Initialize Ridge Regression Model
# If Lambda or alpa in Python is higher it reduces overfitting, if it's lower it's closer to regular linear regression
rr = Ridge(alpha=1)


# Split Data into 3 parts 
split = TimeSeriesSplit(n_splits=3)

# Go over the features to find the best one until it selects 20 
sfs = SequentialFeatureSelector(rr, 
                                n_features_to_select=20, 
                                direction="forward",
                                cv=split,
                                n_jobs=8
                               )

In [20]:
# Remove some columns 
removed_columns = ["Next_WAR", "Name", "Team", "IDfg", "Season"]
selected_columns = pitching.columns[~pitching.columns.isin(removed_columns)]

In [21]:
# All columns except the one we have removed 
selected_columns

Index(['Age', 'W', 'L', 'WAR', 'ERA', 'G', 'GS', 'CG', 'ShO', 'SV',
       ...
       'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'Barrels', 'HardHit', 'Events',
       'CStr%', 'CSW%', 'Team_code'],
      dtype='object', length=149)

In [22]:
X=pitching[selected_columns]
y=pitching['Next_WAR']

In [23]:
# Scale the data 
# MinMax Scales values to be between 0 and 1
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
pitching.loc[:,selected_columns] = scaler.fit_transform(X)

In [24]:
# Most values are now between 0 and 1
pitching.describe()

,IDfg,Season,Age,W,L,WAR,ERA,G,GS,CG,...,Soft%+,Med%+,Hard%+,Barrels,HardHit,Events,CStr%,CSW%,Next_WAR,Team_code
count,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,...,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000
mean,4383.293617,2011.459574,0.402128,0.472813,0.423404,0.466296,0.476003,0.594681,0.668085,0.188008,...,0.529730,0.539116,0.502837,0.116538,0.123694,0.144216,0.504945,0.476498,4.164681,0.468351
std,3694.105282,3.121723,0.190267,0.189575,0.183224,0.182282,0.177600,0.145530,0.162674,0.180151,...,0.175608,0.178639,0.172765,0.261058,0.273323,0.316218,0.184939,0.163777,1.804975,0.314981
min,225.000000,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,0.000000
25%,1571.500000,2009.000000,0.277778,0.333333,0.312500,0.352273,0.362216,0.500000,0.571429,0.090909,...,0.391892,0.423077,0.398148,0.000000,0.000000,0.000000,0.378378,0.369231,2.800000,0.187500
50%,3254.000000,2011.000000,0.388889,0.500000,0.437500,0.465909,0.471591,0.625000,0.714286,0.090909,...,0.513514,0.538462,0.500000,0.000000,0.000000,0.000000,0.486486,0.476923,4.100000,0.437500
75%,6345.000000,2014.000000,0.555556,0.611111,0.562500,0.579545,0.589489,0.750000,0.714286,0.272727,...,0.662162,0.653846,0.592593,0.000000,0.000000,0.000000,0.621622,0.561538,5.400000,0.781250
max,19427.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,1.000000

In [25]:
# Fit the data 
sfs.fit(X, y)

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=20,
                          n_jobs=8)

In [26]:
# sfs.get_support() returns True to each column selected 
sfs.get_support()

array([False, False,  True,  True, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False,  True,  True, False,
        True, False, False, False, False,  True, False, False,  True,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False])

In [27]:
# Assign sfs to a variable called predictors
# These are the 20 columns selected by our model
predictors = list(selected_columns[sfs.get_support()])
predictors

['L',
 'WAR',
 'G',
 'IBB',
 'IFH',
 'WHIP',
 'LOB%',
 'inLI',
 'FB% 2',
 'FBv',
 'wFB/C',
 'Z-Contact%',
 'F-Strike%',
 'SD',
 'RS/9',
 'Z-Contact% (sc)',
 'BIP-Wins',
 'Hard%',
 'LD%+',
 'Cent%+']

In [28]:
# We only want to use past data to predict future data 

def backtest(data, model, predictors, start=1, step=1):
    # Create a list to hold all seasons predictions
    all_predictions = []
    
    # List of seasons sorted by order 
    years = sorted(data["Season"].unique())
    
    for i in range(start, len(years), step):
        current_year = years[i]
        
        # Train set is all years before current_year
        train = data[data["Season"] < current_year]
        
        # Test set is the current_year
        test = data[data["Season"] == current_year]
        
        model.fit(train[predictors], train["Next_WAR"])
        
        # Generate predictions on test set
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        
        # Concat predictions with actual 
        combined = pd.concat([test["Next_WAR"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [29]:
model_pred=backtest(pitching, rr, predictors)
model_pred

     actual  prediction
286     3.0    3.649569
46      5.8    5.271326
333     2.8    4.025636
96      3.6    3.909007
229     4.4    3.313639
..      ...         ...
13      3.4    5.142955
30      3.3    7.700713
301     6.3    4.012145
164     4.9    5.064353
139     5.7    4.948089

[211 rows x 2 columns]

## Caculate the accuracy

In [30]:
# Calculate the mean squared error value (To compare the prediction from actual value)
from sklearn.metrics import mean_squared_error

mean_squared_error(model_pred["actual"], model_pred["prediction"])

2.4442807018278527

In [31]:
# Square root of mean_squared_error
2.4442807018278527 ** 0.5

1.5634195539994544

In [32]:
pitching['Next_WAR'].describe()

count    235.000000
mean       4.164681
std        1.804975
min        0.300000
25%        2.800000
50%        4.100000
75%        5.400000
max        9.000000
Name: Next_WAR, dtype: float64

std = 1.804975

Square root of mean_squared_error = 1.5634195539994544 < std 
Which is good for the model

### Add player history data to improve accuracy
### Find correlation between WAR nb and season number for all previous season for player of IDf=225

In [33]:
MarkB=pitching[pitching["IDfg"]==225].copy()
MarkB["player_season"]=range(0,MarkB.shape[0])
MarkB[["player_season","WAR"]]

     player_season       WAR
241              0  0.352273
286              1  0.454545
295              2  0.318182
353              3  0.409091
237              4  0.329545
271              5  0.159091
340              6  0.227273

In [34]:
MarkB[["player_season","WAR"]].expanding().corr()

                   player_season       WAR
241 player_season            NaN       NaN
    WAR                      NaN       NaN
286 player_season       1.000000  1.000000
    WAR                 1.000000  1.000000
295 player_season       1.000000 -0.240192
    WAR                -0.240192  1.000000
353 player_season       1.000000  0.072868
    WAR                 0.072868  1.000000
237 player_season       1.000000 -0.249513
    WAR                -0.249513  1.000000
271 player_season       1.000000 -0.659578
    WAR                -0.659578  1.000000
340 player_season       1.000000 -0.726517
    WAR                -0.726517  1.000000

In [35]:
# Slice the WAR nb from 1st row
MarkB[["player_season","WAR"]].expanding().corr().loc[(slice(None),"player_season"),"WAR"]

241  player_season         NaN
286  player_season    1.000000
295  player_season   -0.240192
353  player_season    0.072868
237  player_season   -0.249513
271  player_season   -0.659578
340  player_season   -0.726517
Name: WAR, dtype: float64

In [36]:
# Turn the correlations between WAR and the season number into list
list(MarkB[["player_season","WAR"]].expanding().corr().loc[(slice(None),"player_season"),"WAR"])

[nan,
 0.9999999999999998,
 -0.24019223070763157,
 0.07286792513358728,
 -0.2495131446207222,
 -0.6595780050719466,
 -0.726517479565979]

###  Function to find correlation between WAR nb and season nb of all previous seasons for each player

In [37]:
def player_history(df):
    df = df.sort_values("Season")
        
    df["player_season"] = range(0, df.shape[0])
    
    # Find the corr between "player_season" and "WAR"
    df["war_corr"] = list(df[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"),"WAR"])
    
    df["war_corr"].fillna(0, inplace=True)
    
    # Divide WAR of current season by WAR of previous season
    df["war_diff"] = df["WAR"] / df["WAR"].shift(1)
    # Replace NaN values with 1 when there's no previous season 
    df["war_diff"].fillna(1, inplace=True)
    # Replace infinite value with 1
    df["war_diff"][df["war_diff"] == np.inf] = 1
    
    return df

pitching = pitching.groupby("IDfg", group_keys=False).apply(player_history)

In [38]:
# Find averages across seasons; tell us if a player performed better than the average of a season or no 
def group_averages(df):
    return df["WAR"] / df["WAR"].mean()

In [39]:
pitching["war_season"] = pitching.groupby("Season", group_keys=False).apply(group_averages)
pitching

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,HardHit,Events,CStr%,CSW%,Next_WAR,Team_code,player_season,war_corr,war_diff,war_season
241,225,2007,Mark Buehrle,CHW,0.388889,0.222222,0.3750,0.352273,0.559659,0.250,...,0.000000,0.000000,0.391892,0.261538,4.2,0.18750,0,0.000000,1.000000,0.746239
286,225,2008,Mark Buehrle,CHW,0.444444,0.500000,0.5625,0.454545,0.605114,0.750,...,0.000000,0.000000,0.391892,0.176923,3.0,0.18750,1,1.000000,1.290323,0.904419
295,225,2009,Mark Buehrle,CHW,0.500000,0.388889,0.4375,0.318182,0.619318,0.625,...,0.000000,0.000000,0.459459,0.200000,3.8,0.18750,2,-0.240192,0.700000,0.648749
353,225,2010,Mark Buehrle,CHW,0.555556,0.388889,0.6250,0.409091,0.744318,0.625,...,0.000000,0.000000,0.527027,0.200000,3.1,0.18750,3,0.072868,1.285714,0.989176
237,225,2011,Mark Buehrle,CHW,0.611111,0.388889,0.3750,0.329545,0.548295,0.375,...,0.000000,0.000000,0.500000,0.215385,1.6,0.18750,4,-0.249513,0.805556,0.711482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,13431,2016,Marcus Stroman,TOR,0.222222,0.166667,0.4375,0.352273,0.769886,0.500,...,1.000000,0.919825,0.405405,0.369231,3.4,0.96875,0,0.000000,1.000000,0.750000
13,16149,2018,Aaron Nola,PHI,0.222222,0.611111,0.1875,0.602273,0.201705,0.625,...,0.636364,0.790087,0.756757,0.815385,3.4,0.68750,0,0.000000,1.000000,0.966146
301,16149,2019,Aaron Nola,PHI,0.277778,0.333333,0.2500,0.363636,0.627841,0.750,...,0.795455,0.775510,0.864865,0.761538,6.3,0.68750,1,-1.000000,0.603774,0.607595
139,18684,2021,Sandy Alcantara,MIA,0.222222,0.166667,0.7500,0.465909,0.434659,0.625,...,0.859848,0.839650,0.054054,0.484615,5.7,0.50000,0,0.000000,1.000000,1.000000
164,19427,2019,Shane Bieber,CLE,0.166667,0.500000,0.3125,0.602273,0.460227,0.750,...,0.875000,0.807580,0.581081,0.838462,4.9,0.25000,0,0.000000,1.000000,1.006329

In [45]:
# Add more columns to predictors
new_predictors = predictors + ["player_season", "war_corr", "war_season", "war_diff"]
pitching[new_predictors]

,L,WAR,G,IBB,IFH,WHIP,LOB%,inLI,FB% 2,FBv,...,RS/9,Z-Contact% (sc),BIP-Wins,Hard%,LD%+,Cent%+,player_season,war_corr,war_season,war_diff
241,0.3750,0.352273,0.250,0.555556,0.620690,0.552632,0.490566,0.458333,0.451034,0.25000,...,0.253863,0.704301,0.523077,0.483193,0.50,0.264706,0,0.000000,0.746239,1.000000
286,0.5625,0.454545,0.750,0.444444,0.793103,0.657895,0.306604,0.250000,0.499310,0.28750,...,0.551876,0.892473,0.276923,0.239496,0.46,0.529412,1,1.000000,0.904419,1.290323
295,0.4375,0.318182,0.625,0.333333,0.379310,0.539474,0.443396,0.416667,0.445517,0.23750,...,0.293598,0.876344,0.538462,0.126050,0.54,0.352941,2,-0.240192,0.648749,0.700000
353,0.6250,0.409091,0.625,0.111111,0.413793,0.736842,0.231132,0.250000,0.569655,0.25625,...,0.410596,0.946237,0.200000,0.294118,0.30,0.294118,3,0.072868,0.989176,1.285714
237,0.3750,0.329545,0.375,0.333333,0.620690,0.605263,0.377358,0.541667,0.459310,0.23125,...,0.273731,0.844086,0.384615,0.210084,0.56,0.735294,4,-0.249513,0.711482,0.805556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,0.4375,0.352273,0.500,0.000000,0.448276,0.592105,0.155660,0.541667,0.628966,0.65625,...,0.328918,0.779570,0.307692,0.542017,0.44,0.500000,0,0.000000,0.750000,1.000000
13,0.1875,0.602273,0.625,0.333333,0.517241,0.171053,0.811321,0.791667,0.520000,0.65625,...,0.167770,0.370968,0.661538,0.264706,0.28,0.529412,0,0.000000,0.966146,1.000000
301,0.2500,0.363636,0.750,0.333333,0.241379,0.565789,0.542453,0.500000,0.473103,0.68750,...,0.543046,0.596774,0.384615,0.970588,0.44,0.588235,1,-1.000000,0.607595,0.603774
139,0.7500,0.465909,0.625,0.222222,0.620690,0.302632,0.334906,0.791667,0.525517,1.00000,...,0.019868,0.489247,0.523077,0.441176,0.34,0.470588,0,0.000000,1.000000,1.000000
164,0.3125,0.602273,0.750,0.111111,0.448276,0.276316,0.570755,0.625000,0.464828,0.70000,...,0.428256,0.569892,0.415385,1.000000,0.50,0.588235,0,0.000000,1.006329,1.000000

In [46]:
predictions = backtest(pitching, rr, new_predictors)
predictions

     actual  prediction
286     3.0    3.594672
46      5.8    5.722762
333     2.8    4.107397
96      3.6    3.927717
229     4.4    2.970836
..      ...         ...
13      3.4    4.521565
30      3.3    7.184415
301     6.3    3.871178
164     4.9    4.681119
139     5.7    4.876636

[211 rows x 2 columns]

### Calculate new accuracy

In [47]:
# Calculate the mean squared error value (To compare the prediction from actual value)
mean_squared_error(predictions["actual"], predictions["prediction"])

2.4633736374384574

Value slighly bigger than before. First predictors gave better accurancy.

In [49]:
# Sort predictors coefficient to check which columns contributed more to the model 
pd.Series(rr.coef_, index=new_predictors).sort_values()

G                 -1.130219
Cent%+            -0.708083
LD%+              -0.590452
Z-Contact%        -0.588266
inLI              -0.583023
Z-Contact% (sc)   -0.512338
BIP-Wins          -0.473151
IFH               -0.438200
war_corr          -0.141806
war_diff          -0.087096
RS/9              -0.073346
FB% 2             -0.058328
player_season      0.006613
F-Strike%          0.502936
IBB                0.617915
L                  0.672567
wFB/C              0.751776
LOB%               0.908267
Hard%              0.932547
WHIP               1.419711
SD                 1.428966
WAR                1.624767
war_season         1.929515
FBv                1.977000
dtype: float64

All small values indicated that the model is not taking these columns into account to make the prediction.
Let's try to remove columns with correlation less than 30$

In [52]:
final_predictors=['L',
 'WAR',
 'G',
 'IBB',
 'IFH',
 'WHIP',
 'LOB%',
 'inLI',
 'FBv',
 'wFB/C',
 'Z-Contact%',
 'F-Strike%',
 'SD',
 'Z-Contact% (sc)',
 'BIP-Wins',
 'Hard%',
 'LD%+',
 'Cent%+', 
 'war_season',
 ]

In [54]:
final_prediction = backtest(pitching, rr, final_predictors)
final_prediction

     actual  prediction
286     3.0    3.527590
46      5.8    5.608402
333     2.8    4.148904
96      3.6    3.894350
229     4.4    3.024789
..      ...         ...
13      3.4    4.454356
30      3.3    7.132866
301     6.3    3.821859
164     4.9    4.694646
139     5.7    4.848092

[211 rows x 2 columns]

### Calculate last accuracy

In [55]:
mean_squared_error(final_predictions["actual"], final_predictions["prediction"])

2.29445344177085

This mean squared error is the smallest meaning the last model is the most accurate 

### Check the difference between predicted and actual WAR nb

In [56]:
merged = final_prediction.merge(pitching, left_index=True, right_index=True)
merged["diff"] = (final_prediction["actual"] - final_prediction["prediction"]).abs()
next_war_df=merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff","prediction"]].sort_values(["diff"])
next_war_df.head()

,IDfg,Season,Name,WAR,Next_WAR,diff,prediction
24,4930,2014,Jon Lester,0.590909,4.9,0.032192,4.932192
175,11423,2014,Jose Quintana,0.534091,4.3,0.037476,4.262524
118,4972,2008,Cole Hamels,0.500000,3.6,0.038084,3.561916
89,5524,2015,Madison Bumgarner,0.534091,4.3,0.072897,4.227103
153,7448,2010,Gio Gonzalez,0.340909,3.3,0.080982,3.219018

In [57]:
next_war_df = next_war_df.groupby("IDfg", group_keys=False).apply(next_season)
next_war_df

      IDfg  Season             Name       WAR  Next_WAR      diff  prediction
286    225    2008     Mark Buehrle  0.454545  0.318182  0.527590    3.527590
295    225    2009     Mark Buehrle  0.318182  0.409091  0.399684    3.400316
353    225    2010     Mark Buehrle  0.409091  0.329545  1.293168    4.393168
237    225    2011     Mark Buehrle  0.329545  0.159091  1.162463    2.762463
271    225    2012     Mark Buehrle  0.159091  0.227273  0.403668    1.796332
..     ...     ...              ...       ...       ...       ...         ...
360  13431    2016   Marcus Stroman  0.352273       NaN  0.239558    3.160442
13   16149    2018       Aaron Nola  0.602273  0.363636  1.054356    4.454356
301  16149    2019       Aaron Nola  0.363636       NaN  2.478141    3.821859
139  18684    2021  Sandy Alcantara  0.465909       NaN  0.851908    4.848092
164  19427    2019     Shane Bieber  0.602273       NaN  0.205354    4.694646

[211 rows x 7 columns]

In [58]:
import json
next_war_js=next_war_df.to_json(orient = "records")
next_war_js

'[{"IDfg":225,"Season":2008,"Name":"Mark Buehrle","WAR":0.4545454545,"Next_WAR":0.3181818182,"diff":0.5275900903,"prediction":3.5275900903},{"IDfg":225,"Season":2009,"Name":"Mark Buehrle","WAR":0.3181818182,"Next_WAR":0.4090909091,"diff":0.3996835393,"prediction":3.4003164607},{"IDfg":225,"Season":2010,"Name":"Mark Buehrle","WAR":0.4090909091,"Next_WAR":0.3295454545,"diff":1.293167659,"prediction":4.393167659},{"IDfg":225,"Season":2011,"Name":"Mark Buehrle","WAR":0.3295454545,"Next_WAR":0.1590909091,"diff":1.1624631814,"prediction":2.7624631814},{"IDfg":225,"Season":2012,"Name":"Mark Buehrle","WAR":0.1590909091,"Next_WAR":0.2272727273,"diff":0.4036675629,"prediction":1.7963324371},{"IDfg":225,"Season":2013,"Name":"Mark Buehrle","WAR":0.2272727273,"Next_WAR":null,"diff":1.5027367247,"prediction":2.1972632753},{"IDfg":232,"Season":2009,"Name":"Jon Garland","WAR":0.1818181818,"Next_WAR":null,"diff":2.7283778314,"prediction":3.6283778314},{"IDfg":404,"Season":2008,"Name":"CC Sabathia","WAR":0.8068181818,"Next_WAR":0.6363636364,"diff":0.1915977595,"prediction":5.6084022405},{"IDfg":404,"Season":2009,"Name":"CC Sabathia","WAR":0.6363636364,"Next_WAR":0.6022727273,"diff":0.6385531166,"prediction":4.8614468834},{"IDfg":404,"Season":2010,"Name":"CC Sabathia","WAR":0.6022727273,"Next_WAR":0.6363636364,"diff":0.8499327255,"prediction":4.9500672745},{"IDfg":404,"Season":2011,"Name":"CC Sabathia","WAR":0.6363636364,"Next_WAR":0.4431818182,"diff":1.349485798,"prediction":5.449485798},{"IDfg":404,"Season":2012,"Name":"CC Sabathia","WAR":0.4431818182,"Next_WAR":null,"diff":2.4281402606,"prediction":4.5281402606},{"IDfg":512,"Season":2008,"Name":"A.J. Burnett","WAR":0.5454545455,"Next_WAR":0.2954545455,"diff":1.3489035419,"prediction":4.1489035419},{"IDfg":512,"Season":2009,"Name":"A.J. Burnett","WAR":0.2954545455,"Next_WAR":0.375,"diff":0.375164878,"prediction":3.875164878},{"IDfg":512,"Season":2012,"Name":"A.J. Burnett","WAR":0.375,"Next_WAR":null,"diff":1.788889781,"prediction":3.488889781},{"IDfg":517,"Season":2008,"Name":"Ryan Dempster","WAR":0.5227272727,"Next_WAR":0.3863636364,"diff":0.2943495822,"prediction":3.8943495822},{"IDfg":517,"Season":2009,"Name":"Ryan Dempster","WAR":0.3863636364,"Next_WAR":0.2727272727,"diff":2.0896714973,"prediction":4.6896714973},{"IDfg":517,"Season":2010,"Name":"Ryan Dempster","WAR":0.2727272727,"Next_WAR":null,"diff":0.807982641,"prediction":3.407982641},{"IDfg":571,"Season":2008,"Name":"Roy Oswalt","WAR":0.3977272727,"Next_WAR":null,"diff":1.3752106764,"prediction":3.0247893236},{"IDfg":739,"Season":2008,"Name":"Kyle Lohse","WAR":0.2954545455,"Next_WAR":null,"diff":0.2667604868,"prediction":3.0332395132},{"IDfg":790,"Season":2010,"Name":"Carl Pavano","WAR":0.2954545455,"Next_WAR":null,"diff":0.7874324855,"prediction":3.1874324855},{"IDfg":801,"Season":2008,"Name":"Javier Vazquez","WAR":0.5227272727,"Next_WAR":null,"diff":2.0040223618,"prediction":3.8959776382},{"IDfg":921,"Season":2010,"Name":"Tim Hudson","WAR":0.1818181818,"Next_WAR":null,"diff":1.2314039707,"prediction":1.6685960293},{"IDfg":962,"Season":2010,"Name":"Brett Myers","WAR":0.4204545455,"Next_WAR":null,"diff":2.0956410688,"prediction":3.7956410688},{"IDfg":976,"Season":2009,"Name":"Randy Wolf","WAR":0.3181818182,"Next_WAR":0.0681818182,"diff":1.8948219268,"prediction":2.6948219268},{"IDfg":976,"Season":2010,"Name":"Randy Wolf","WAR":0.0681818182,"Next_WAR":null,"diff":0.7859471705,"prediction":1.5140528295},{"IDfg":978,"Season":2008,"Name":"Bronson Arroyo","WAR":0.2386363636,"Next_WAR":0.1477272727,"diff":1.5431122365,"prediction":3.0431122365},{"IDfg":978,"Season":2009,"Name":"Bronson Arroyo","WAR":0.1477272727,"Next_WAR":0.125,"diff":1.7672877388,"prediction":3.0672877388},{"IDfg":978,"Season":2010,"Name":"Bronson Arroyo","WAR":0.125,"Next_WAR":0.2272727273,"diff":0.6544785666,"prediction":1.5455214334},{"IDfg":978,"Season":2012,"Name":"Bronson Arroyo","WAR":0.2272727273,"Next_WAR":null,"diff":0.8780785001,"prediction":2.0780785001},{"IDfg":1051,"Season":2012,"Name":"Jake Peavy","WAR":0.4659090909,"Next_WAR":null,"diff":2.8462810282,"prediction":4.3462810282},{"IDfg":1245,"Season":2011,"Name":"R.A. Dickey","WAR":0.2840909091,"Next_WAR":0.5113636364,"diff":0.6844259682,"prediction":4.0155740318},{"IDfg":1245,"Season":2012,"Name":"R.A. Dickey","WAR":0.5113636364,"Next_WAR":0.1818181818,"diff":2.2769468232,"prediction":4.0769468232},{"IDfg":1245,"Season":2013,"Name":"R.A. Dickey","WAR":0.1818181818,"Next_WAR":0.1818181818,"diff":0.3620813369,"prediction":1.4379186631},{"IDfg":1245,"Season":2014,"Name":"R.A. Dickey","WAR":0.1818181818,"Next_WAR":null,"diff":0.4237701245,"prediction":1.3762298755},{"IDfg":1259,"Season":2010,"Name":"Colby Lewis","WAR":0.5227272727,"Next_WAR":0.2159090909,"diff":2.8013100336,"prediction":4.9013100336},{"IDfg":1259,"Season":2011,"Name":"Colby Lewis","WAR":0.2159090909,"Next_WAR":null,"diff":0.2663603418,"prediction":2.8663603418},{"IDfg":1292,"Season":2010,"Name":"Chris Carpenter","WAR":0.2954545455,"Next_WAR":null,"diff":1.5734758313,"prediction":2.9265241687},{"IDfg":1303,"Season":2008,"Name":"Roy Halladay","WAR":0.7386363636,"Next_WAR":0.75,"diff":3.0790794715,"prediction":3.7209205285},{"IDfg":1303,"Season":2009,"Name":"Roy Halladay","WAR":0.75,"Next_WAR":0.6818181818,"diff":0.4946943163,"prediction":5.7053056837},{"IDfg":1303,"Season":2010,"Name":"Roy Halladay","WAR":0.6818181818,"Next_WAR":null,"diff":3.5973183647,"prediction":5.1026816353},{"IDfg":1507,"Season":2010,"Name":"John Lackey","WAR":0.3522727273,"Next_WAR":null,"diff":0.3052532328,"prediction":3.8052532328},{"IDfg":1636,"Season":2008,"Name":"Cliff Lee","WAR":0.7386363636,"Next_WAR":0.7045454545,"diff":1.3814341316,"prediction":5.0185658684},{"IDfg":1636,"Season":2009,"Name":"Cliff Lee","WAR":0.7045454545,"Next_WAR":0.8068181818,"diff":2.6199229616,"prediction":4.6800770384},{"IDfg":1636,"Season":2010,"Name":"Cliff Lee","WAR":0.8068181818,"Next_WAR":0.7840909091,"diff":0.6854067805,"prediction":6.4145932195},{"IDfg":1636,"Season":2011,"Name":"Cliff Lee","WAR":0.7840909091,"Next_WAR":0.5454545455,"diff":1.1199210514,"prediction":6.1199210514},{"IDfg":1636,"Season":2012,"Name":"Cliff Lee","WAR":0.5454545455,"Next_WAR":null,"diff":0.6073219894,"prediction":4.9926780106},{"IDfg":1757,"Season":2008,"Name":"Dan Haren","WAR":0.6704545455,"Next_WAR":0.5795454545,"diff":1.1897626543,"prediction":4.1102373457},{"IDfg":1757,"Season":2009,"Name":"Dan Haren","WAR":0.5795454545,"Next_WAR":0.3977272727,"diff":0.7827291772,"prediction":4.4827291772},{"IDfg":1757,"Season":2010,"Name":"Dan Haren","WAR":0.3977272727,"Next_WAR":null,"diff":2.0819635473,"prediction":3.8180364527},{"IDfg":1841,"Season":2009,"Name":"Edwin Jackson","WAR":0.3977272727,"Next_WAR":null,"diff":1.1886115505,"prediction":4.3886115505},{"IDfg":1943,"Season":2008,"Name":"Zack Greinke","WAR":0.4545454545,"Next_WAR":0.9659090909,"diff":4.5117094284,"prediction":4.1882905716},{"IDfg":1943,"Season":2009,"Name":"Zack Greinke","WAR":0.9659090909,"Next_WAR":0.5340909091,"diff":1.3814434338,"prediction":6.2814434338},{"IDfg":1943,"Season":2010,"Name":"Zack Greinke","WAR":0.5340909091,"Next_WAR":0.5227272727,"diff":0.1051217019,"prediction":4.9051217019},{"IDfg":1943,"Season":2012,"Name":"Zack Greinke","WAR":0.5227272727,"Next_WAR":0.4886363636,"diff":0.6276895645,"prediction":3.8723104355},{"IDfg":1943,"Season":2014,"Name":"Zack Greinke","WAR":0.4886363636,"Next_WAR":0.5795454545,"diff":0.9736349439,"prediction":4.3263650561},{"IDfg":1943,"Season":2015,"Name":"Zack Greinke","WAR":0.5795454545,"Next_WAR":0.5340909091,"diff":1.0894150392,"prediction":3.8105849608},{"IDfg":1943,"Season":2017,"Name":"Zack Greinke","WAR":0.5340909091,"Next_WAR":0.2840909091,"diff":1.0538184699,"prediction":3.7538184699},{"IDfg":1943,"Season":2018,"Name":"Zack Greinke","WAR":0.2840909091,"Next_WAR":null,"diff":2.3641463381,"prediction":2.9358536619},{"IDfg":2036,"Season":2010,"Name":"Clayton Kershaw","WAR":0.5,"Next_WAR":0.8068181818,"diff":2.1055809108,"prediction":5.1944190892},{"IDfg":2036,"Season":2011,"Name":"Clayton Kershaw","WAR":0.8068181818,"Next_WAR":0.6704545455,"diff":0.0889195478,"prediction":6.1889195478},{"IDfg":2036,"Season":2012,"Name":"Clayton Kershaw","WAR":0.6704545455,"Next_WAR":0.7954545455,"diff":1.2870384307,"prediction":5.9129615693},{"IDfg":2036,"Season":2013,"Name":"Clayton Kershaw","WAR":0.7954545455,"Next_WAR":null,"diff":2.1310443374,"prediction":6.4689556626},{"IDfg":2038,"Season":2011,"Name":"Justin Masterson","WAR":0.5568181818,"Next_WAR":null,"diff":1.6284990808,"prediction":4.4284990808},{"IDfg":2072,"Season":2009,"Name":"Jeremy Guthrie","WAR":0.1363636364,"Next_WAR":0.25,"diff":0.379484644,"prediction":2.779484644},{"IDfg":2072,"Season":2010,"Name":"Jeremy Guthrie","WAR":0.25,"Next_WAR":0.1704545455,"diff":1.3315356383,"prediction":3.0315356383},{"IDfg":2072,"Season":2011,"Name":"Jeremy Guthrie","WAR":0.1704545455,"Next_WAR":0.0454545455,"diff":1.7758356093,"prediction":2.3758356093},{"IDfg":2072,"Season":2013,"Name":"Jeremy Guthrie","WAR":0.0454545455,"Next_WAR":null,"diff":0.9044840666,"prediction":2.1044840666},{"IDfg":2233,"Season":2009,"Name":"Adam Wainwright","WAR":0.5795454545,"Next_WAR":0.5568181818,"diff":0.9422762481,"prediction":4.1577237519},{"IDfg":2233,"Season":2010,"Name":"Adam Wainwright","WAR":0.5568181818,"Next_WAR":0.6818181818,"diff":1.5435446887,"prediction":4.6564553113},{"IDfg":2233,"Season":2013,"Name":"Adam Wainwright","WAR":0.6818181818,"Next_WAR":0.5340909091,"diff":0.4869529897,"prediction":5.3869529897},{"IDfg":2233,"Season":2014,"Name":"Adam Wainwright","WAR":0.5340909091,"Next_WAR":null,"diff":0.2989112986,"prediction":4.0989112986},{"IDfg":2429,"Season":2014,"Name":"Corey Kluber","WAR":0.7954545455,"Next_WAR":0.6136363636,"diff":0.4110699777,"prediction":6.0110699777},{"IDfg":2429,"Season":2015,"Name":"Corey Kluber","WAR":0.6136363636,"Next_WAR":0.5340909091,"diff":0.1890089756,"prediction":4.7109910244},{"IDfg":2429,"Season":2016,"Name":"Corey Kluber","WAR":0.5340909091,"Next_WAR":0.7954545455,"diff":2.6328007586,"prediction":4.5671992414},{"IDfg":2429,"Season":2017,"Name":"Corey Kluber","WAR":0.7954545455,"Next_WAR":null,"diff":0.0986114981,"prediction":5.4013885019},{"IDfg":2520,"Season":2013,"Name":"Lance Lynn","WAR":0.3522727273,"Next_WAR":0.3863636364,"diff":0.1567330789,"prediction":3.4432669211},{"IDfg":2520,"Season":2014,"Name":"Lance Lynn","WAR":0.3863636364,"Next_WAR":null,"diff":3.0761835069,"prediction":3.7238164931},{"IDfg":2586,"Season":2009,"Name":"Wandy Rodriguez","WAR":0.4431818182,"Next_WAR":null,"diff":1.3439443693,"prediction":4.1439443693},{"IDfg":2717,"Season":2014,"Name":"Rick Porcello","WAR":0.3181818182,"Next_WAR":0.5568181818,"diff":2.1224229564,"prediction":2.9775770436},{"IDfg":2717,"Season":2016,"Name":"Rick Porcello","WAR":0.5568181818,"Next_WAR":null,"diff":2.0686946522,"prediction":4.0686946522},{"IDfg":3137,"Season":2013,"Name":"Max Scherzer","WAR":0.6477272727,"Next_WAR":0.6136363636,"diff":0.2635139701,"prediction":5.3364860299},{"IDfg":3137,"Season":2014,"Name":"Max Scherzer","WAR":0.6136363636,"Next_WAR":0.7159090909,"diff":1.5127172396,"prediction":4.9872827604},{"IDfg":3137,"Season":2015,"Name":"Max Scherzer","WAR":0.7159090909,"Next_WAR":0.6136363636,"diff":0.3466017813,"prediction":5.9466017813},{"IDfg":3137,"Season":2016,"Name":"Max Scherzer","WAR":0.6136363636,"Next_WAR":0.7045454545,"diff":0.698396321,"prediction":5.701603679},{"IDfg":3137,"Season":2017,"Name":"Max Scherzer","WAR":0.7045454545,"Next_WAR":null,"diff":1.9083265023,"prediction":5.5916734977},{"IDfg":3184,"Season":2010,"Name":"David Price","WAR":0.4659090909,"Next_WAR":0.5227272727,"diff":0.4353789793,"prediction":4.3646210207},{"IDfg":3184,"Season":2011,"Name":"David Price","WAR":0.5227272727,"Next_WAR":0.4659090909,"diff":0.5339156431,"prediction":4.8339156431},{"IDfg":3184,"Season":2012,"Name":"David Price","WAR":0.4659090909,"Next_WAR":0.6136363636,"diff":1.3854570328,"prediction":4.2145429672},{"IDfg":3184,"Season":2014,"Name":"David Price","WAR":0.6136363636,"Next_WAR":0.7386363636,"diff":1.8236002208,"prediction":4.8763997792},{"IDfg":3184,"Season":2015,"Name":"David Price","WAR":0.7386363636,"Next_WAR":null,"diff":1.1963705573,"prediction":5.5963705573},{"IDfg":3200,"Season":2008,"Name":"Ervin Santana","WAR":0.5795454545,"Next_WAR":0.2159090909,"diff":2.2884022763,"prediction":4.3884022763},{"IDfg":3200,"Season":2010,"Name":"Ervin Santana","WAR":0.2159090909,"Next_WAR":0.2613636364,"diff":0.3695582691,"prediction":2.8695582691},{"IDfg":3200,"Season":2011,"Name":"Ervin Santana","WAR":0.2613636364,"Next_WAR":0.2613636364,"diff":0.3142040965,"prediction":2.8142040965},{"IDfg":3200,"Season":2013,"Name":"Ervin Santana","WAR":0.2613636364,"Next_WAR":null,"diff":0.3803929677,"prediction":3.0803929677},{"IDfg":3254,"Season":2013,"Name":"Jeff Samardzija","WAR":0.3181818182,"Next_WAR":0.4772727273,"diff":0.7548272256,"prediction":3.6451727744},{"IDfg":3254,"Season":2014,"Name":"Jeff Samardzija","WAR":0.4772727273,"Next_WAR":0.2386363636,"diff":1.7469005872,"prediction":4.0469005872},{"IDfg":3254,"Season":2015,"Name":"Jeff Samardzija","WAR":0.2386363636,"Next_WAR":0.2272727273,"diff":0.6144899141,"prediction":2.8144899141},{"IDfg":3254,"Season":2016,"Name":"Jeff Samardzija","WAR":0.2272727273,"Next_WAR":null,"diff":0.3220475614,"prediction":3.4779524386},{"IDfg":3283,"Season":2011,"Name":"Hiroki Kuroda","WAR":0.3068181818,"Next_WAR":0.3636363636,"diff":0.6789852104,"prediction":4.0789852104},{"IDfg":3283,"Season":2012,"Name":"Hiroki Kuroda","WAR":0.3636363636,"Next_WAR":null,"diff":0.6869645361,"prediction":3.9869645361},{"IDfg":3340,"Season":2009,"Name":"Matt Garza","WAR":0.2954545455,"Next_WAR":null,"diff":1.9123116902,"prediction":4.0123116902},{"IDfg":3374,"Season":2009,"Name":"Ubaldo Jimenez","WAR":0.5795454545,"Next_WAR":null,"diff":1.3030153499,"prediction":4.6969846501},{"IDfg":3403,"Season":2010,"Name":"Ricky Romero","WAR":0.3977272727,"Next_WAR":null,"diff":1.0922508469,"prediction":3.5922508469},{"IDfg":3551,"Season":2010,"Name":"Clayton Richard","WAR":0.2272727273,"Next_WAR":null,"diff":2.6952112586,"prediction":3.0952112586},{"IDfg":3580,"Season":2010,"Name":"C.J. Wilson","WAR":0.4545454545,"Next_WAR":0.5568181818,"diff":1.2967121761,"prediction":3.8032878239},{"IDfg":3580,"Season":2011,"Name":"C.J. Wilson","WAR":0.5568181818,"Next_WAR":0.2727272727,"diff":1.4212952638,"prediction":4.0212952638},{"IDfg":3580,"Season":2012,"Name":"C.J. Wilson","WAR":0.2727272727,"Next_WAR":null,"diff":0.0824514493,"prediction":2.8175485507},{"IDfg":3815,"Season":2012,"Name":"Mat Latos","WAR":0.2954545455,"Next_WAR":null,"diff":1.5400869226,"prediction":3.5599130774},{"IDfg":3830,"Season":2008,"Name":"Ricky Nolasco","WAR":0.4545454545,"Next_WAR":null,"diff":0.4177123747,"prediction":3.6177123747},{"IDfg":4235,"Season":2009,"Name":"Jered Weaver","WAR":0.4090909091,"Next_WAR":0.6477272727,"diff":1.8179534755,"prediction":4.0820465245},{"IDfg":4235,"Season":2010,"Name":"Jered Weaver","WAR":0.6477272727,"Next_WAR":0.5909090909,"diff":0.3521243581,"prediction":5.7521243581},{"IDfg":4235,"Season":2011,"Name":"Jered Weaver","WAR":0.5909090909,"Next_WAR":null,"diff":3.2962789658,"prediction":4.6962789658},{"IDfg":4366,"Season":2010,"Name":"Joe Saunders","WAR":0.1136363636,"Next_WAR":null,"diff":2.0822837987,"prediction":2.3822837987},{"IDfg":4505,"Season":2013,"Name":"Jordan Zimmermann","WAR":0.4090909091,"Next_WAR":null,"diff":1.0042888027,"prediction":4.1042888027},{"IDfg":4732,"Season":2008,"Name":"Matt Cain","WAR":0.3977272727,"Next_WAR":0.3636363636,"diff":0.6497403394,"prediction":2.7502596606},{"IDfg":4732,"Season":2009,"Name":"Matt Cain","WAR":0.3636363636,"Next_WAR":0.4318181818,"diff":0.612534165,"prediction":3.387465835},{"IDfg":4732,"Season":2010,"Name":"Matt Cain","WAR":0.4318181818,"Next_WAR":0.5,"diff":0.8422327508,"prediction":3.7577672492},{"IDfg":4732,"Season":2011,"Name":"Matt Cain","WAR":0.5,"Next_WAR":null,"diff":0.8216543358,"prediction":4.0216543358},{"IDfg":4772,"Season":2008,"Name":"Felix Hernandez","WAR":0.3863636364,"Next_WAR":0.7613636364,"diff":3.4813119585,"prediction":3.4186880415},{"IDfg":4772,"Season":2009,"Name":"Felix Hernandez","WAR":0.7613636364,"Next_WAR":0.7386363636,"diff":1.4193155788,"prediction":5.2806844212},{"IDfg":4772,"Season":2010,"Name":"Felix Hernandez","WAR":0.7386363636,"Next_WAR":0.5795454545,"diff":0.4357695572,"prediction":5.7357695572},{"IDfg":4772,"Season":2011,"Name":"Felix Hernandez","WAR":0.5795454545,"Next_WAR":0.7272727273,"diff":1.837524322,"prediction":4.762475678},{"IDfg":4772,"Season":2012,"Name":"Felix Hernandez","WAR":0.7272727273,"Next_WAR":0.6704545455,"diff":0.6756197346,"prediction":5.4243802654},{"IDfg":4772,"Season":2013,"Name":"Felix Hernandez","WAR":0.6704545455,"Next_WAR":0.6136363636,"diff":0.0906315674,"prediction":5.6906315674},{"IDfg":4772,"Season":2014,"Name":"Felix Hernandez","WAR":0.6136363636,"Next_WAR":null,"diff":1.7994051745,"prediction":4.4994051745},{"IDfg":4930,"Season":2008,"Name":"Jon Lester","WAR":0.4659090909,"Next_WAR":0.5909090909,"diff":1.7504577886,"prediction":3.6495422114},{"IDfg":4930,"Season":2009,"Name":"Jon Lester","WAR":0.5909090909,"Next_WAR":0.5340909091,"diff":0.6962058803,"prediction":5.5962058803},{"IDfg":4930,"Season":2010,"Name":"Jon Lester","WAR":0.5340909091,"Next_WAR":0.25,"diff":3.0749083018,"prediction":5.4749083018},{"IDfg":4930,"Season":2012,"Name":"Jon Lester","WAR":0.25,"Next_WAR":0.3522727273,"diff":0.2681602599,"prediction":3.0318397401},{"IDfg":4930,"Season":2013,"Name":"Jon Lester","WAR":0.3522727273,"Next_WAR":0.5909090909,"diff":1.4965136224,"prediction":3.9034863776},{"IDfg":4930,"Season":2014,"Name":"Jon Lester","WAR":0.5909090909,"Next_WAR":0.5340909091,"diff":0.0321923709,"prediction":4.9321923709},{"IDfg":4930,"Season":2015,"Name":"Jon Lester","WAR":0.5340909091,"Next_WAR":null,"diff":0.5958790209,"prediction":3.6041209791},{"IDfg":4972,"Season":2008,"Name":"Cole Hamels","WAR":0.5,"Next_WAR":0.3863636364,"diff":0.0380843099,"prediction":3.5619156901},{"IDfg":4972,"Season":2010,"Name":"Cole Hamels","WAR":0.3863636364,"Next_WAR":0.5568181818,"diff":0.4427640431,"prediction":4.6572359569},{"IDfg":4972,"Season":2011,"Name":"Cole Hamels","WAR":0.5568181818,"Next_WAR":0.5,"diff":0.6304123097,"prediction":5.2304123097},{"IDfg":4972,"Season":2012,"Name":"Cole Hamels","WAR":0.5,"Next_WAR":0.5113636364,"diff":0.1501463597,"prediction":4.8501463597},{"IDfg":4972,"Season":2013,"Name":"Cole Hamels","WAR":0.5113636364,"Next_WAR":0.4886363636,"diff":0.3538727883,"prediction":4.8538727883},{"IDfg":4972,"Season":2014,"Name":"Cole Hamels","WAR":0.4886363636,"Next_WAR":0.4886363636,"diff":0.3166623076,"prediction":4.1833376924},{"IDfg":4972,"Season":2015,"Name":"Cole Hamels","WAR":0.4886363636,"Next_WAR":null,"diff":0.7731563709,"prediction":4.0731563709},{"IDfg":5203,"Season":2008,"Name":"Mike Pelfrey","WAR":0.3181818182,"Next_WAR":null,"diff":0.1469225847,"prediction":2.9469225847},{"IDfg":5279,"Season":2013,"Name":"Chris Tillman","WAR":0.2045454545,"Next_WAR":null,"diff":0.6645039853,"prediction":2.9645039853},{"IDfg":5524,"Season":2011,"Name":"Madison Bumgarner","WAR":0.4772727273,"Next_WAR":0.2840909091,"diff":1.8461703402,"prediction":4.5461703402},{"IDfg":5524,"Season":2012,"Name":"Madison Bumgarner","WAR":0.2840909091,"Next_WAR":0.375,"diff":0.6515214622,"prediction":2.8484785378},{"IDfg":5524,"Season":2013,"Name":"Madison Bumgarner","WAR":0.375,"Next_WAR":0.3863636364,"diff":0.4226255332,"prediction":4.0226255332},{"IDfg":5524,"Season":2014,"Name":"Madison Bumgarner","WAR":0.3863636364,"Next_WAR":0.5340909091,"diff":0.8403191886,"prediction":4.0596808114},{"IDfg":5524,"Season":2015,"Name":"Madison Bumgarner","WAR":0.5340909091,"Next_WAR":0.4659090909,"diff":0.0728971265,"prediction":4.2271028735},{"IDfg":5524,"Season":2016,"Name":"Madison Bumgarner","WAR":0.4659090909,"Next_WAR":null,"diff":0.4584459589,"prediction":3.7584459589},{"ID

In [59]:
# Save JSON file in clean data file
# save_file=open('../static/data/Clean_Data/next_war.js','w')
json.dump(next_war_js, save_file, indent = 6)  
save_file.close()

# Pitching Stats & Records Data

In [ ]:
# Add an option on website for user to check the records of previous games 
data_test = schedule_and_record(2017, 'NYY')
data_test.head()