In [1]:
# Importing dependiences 
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [2]:
# Importing data from csv files by year
data_2022 = pd.read_csv("../Data/Raw_Data/running_splits_2022.csv")
data_2021 = pd.read_csv("../Data/Raw_Data/running_splits_2021.csv")
data_2020 = pd.read_csv("../Data/Raw_Data/running_splits_2022.csv")
data_2019 = pd.read_csv("../Data/Raw_Data/running_splits_2022.csv")
data_2018 = pd.read_csv("../Data/Raw_Data/running_splits_2018.csv")
data_2017 = pd.read_csv("../Data/Raw_Data/running_splits_2017.csv")
data_2016 = pd.read_csv("../Data/Raw_Data/running_splits_2016.csv")
data_2015 = pd.read_csv("../Data/Raw_Data/running_splits_2015.csv")

In [3]:
# Inserting new column 'year' in each table
data_2022.insert(0, 'year', 2022)
data_2021.insert(0, 'year', 2021)
data_2020.insert(0, 'year', 2020)
data_2019.insert(0, 'year', 2019)
data_2018.insert(0, 'year', 2018)
data_2017.insert(0, 'year', 2017)
data_2016.insert(0, 'year', 2016)
data_2015.insert(0, 'year', 2015)

In [4]:
# Joining tables into the running_splits_dataframe
running_splits_df = pd.concat([data_2022, 
                              data_2021, 
                              data_2020,
                              data_2019, 
                              data_2018,
                              data_2017,
                              data_2016,
                              data_2015])
running_splits_df

,year,last_name,first_name,player_id,name_abbrev,team_id,position_name,age,bat_side,seconds_since_hit_000,...,seconds_since_hit_045,seconds_since_hit_050,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090
0,2022,Abrams,CJ,682928,WSH,120,SS,21,L,0.0,...,2.27,2.44,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82
1,2022,Abreu,José,547989,CWS,145,1B,35,R,0.0,...,2.52,2.71,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22
2,2022,Acuña Jr.,Ronald,660670,ATL,144,RF,24,R,0.0,...,2.30,2.48,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82
3,2022,Adames,Willy,642715,MIL,158,SS,26,R,0.0,...,2.40,2.58,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99
4,2022,Adams,Riley,656180,WSH,120,C,26,R,0.0,...,2.47,2.66,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2015,Zobrist,Ben,450314,KC,118,2B,34,R,0.0,...,2.41,2.59,2.78,2.96,3.14,3.32,3.49,3.67,3.85,4.03
500,2015,Zobrist,Ben,450314,KC,118,2B,34,L,0.0,...,2.35,2.54,2.73,2.91,3.09,3.27,3.45,3.63,3.81,4.00
501,2015,Zunino,Mike,572287,SEA,136,C,24,R,0.0,...,2.42,2.61,2.80,2.99,3.18,3.36,3.54,3.73,3.91,4.09
502,2015,d'Arnaud,Travis,518595,NYM,121,C,26,R,0.0,...,2.44,2.64,2.82,3.01,3.19,3.38,3.56,3.74,3.93,4.13
503,2015,den Dekker,Matthew,544925,WSH,120,LF,27,L,0.0,...,2.20,2.38,2.55,2.72,2.89,3.06,3.22,3.39,3.56,3.73

In [5]:
# Adding new column
running_splits_df.insert(28, 'predicted_time_outcome', "")
running_splits_df

,year,last_name,first_name,player_id,name_abbrev,team_id,position_name,age,bat_side,seconds_since_hit_000,...,seconds_since_hit_050,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090,predicted_time_outcome
0,2022,Abrams,CJ,682928,WSH,120,SS,21,L,0.0,...,2.44,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82,
1,2022,Abreu,José,547989,CWS,145,1B,35,R,0.0,...,2.71,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22,
2,2022,Acuña Jr.,Ronald,660670,ATL,144,RF,24,R,0.0,...,2.48,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82,
3,2022,Adames,Willy,642715,MIL,158,SS,26,R,0.0,...,2.58,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99,
4,2022,Adams,Riley,656180,WSH,120,C,26,R,0.0,...,2.66,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2015,Zobrist,Ben,450314,KC,118,2B,34,R,0.0,...,2.59,2.78,2.96,3.14,3.32,3.49,3.67,3.85,4.03,
500,2015,Zobrist,Ben,450314,KC,118,2B,34,L,0.0,...,2.54,2.73,2.91,3.09,3.27,3.45,3.63,3.81,4.00,
501,2015,Zunino,Mike,572287,SEA,136,C,24,R,0.0,...,2.61,2.80,2.99,3.18,3.36,3.54,3.73,3.91,4.09,
502,2015,d'Arnaud,Travis,518595,NYM,121,C,26,R,0.0,...,2.64,2.82,3.01,3.19,3.38,3.56,3.74,3.93,4.13,
503,2015,den Dekker,Matthew,544925,WSH,120,LF,27,L,0.0,...,2.38,2.55,2.72,2.89,3.06,3.22,3.39,3.56,3.73,

In [6]:
# Creating a new df_clean to hold data
running_splits_new = pd.DataFrame(running_splits_df)

In [7]:
# Dropping columns
running_splits_df_clean = running_splits_new.drop(['player_id',
                            'name_abbrev',
                            'team_id',
                            'position_name',
                            'age',
                            'bat_side'], axis = 1)
running_splits_df_clean

,year,last_name,first_name,seconds_since_hit_000,seconds_since_hit_005,seconds_since_hit_010,seconds_since_hit_015,seconds_since_hit_020,seconds_since_hit_025,seconds_since_hit_030,...,seconds_since_hit_050,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090,predicted_time_outcome
0,2022,Abrams,CJ,0.0,0.53,0.82,1.07,1.30,1.51,1.71,...,2.44,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82,
1,2022,Abreu,José,0.0,0.57,0.92,1.20,1.45,1.68,1.90,...,2.71,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22,
2,2022,Acuña Jr.,Ronald,0.0,0.54,0.85,1.10,1.33,1.54,1.74,...,2.48,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82,
3,2022,Adames,Willy,0.0,0.55,0.87,1.14,1.38,1.61,1.82,...,2.58,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99,
4,2022,Adams,Riley,0.0,0.56,0.89,1.16,1.41,1.64,1.86,...,2.66,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2015,Zobrist,Ben,0.0,0.56,0.87,1.12,1.36,1.59,1.81,...,2.59,2.78,2.96,3.14,3.32,3.49,3.67,3.85,4.03,
500,2015,Zobrist,Ben,0.0,0.54,0.82,1.07,1.31,1.54,1.76,...,2.54,2.73,2.91,3.09,3.27,3.45,3.63,3.81,4.00,
501,2015,Zunino,Mike,0.0,0.55,0.85,1.10,1.35,1.58,1.80,...,2.61,2.80,2.99,3.18,3.36,3.54,3.73,3.91,4.09,
502,2015,d'Arnaud,Travis,0.0,0.56,0.86,1.13,1.38,1.61,1.83,...,2.64,2.82,3.01,3.19,3.38,3.56,3.74,3.93,4.13,
503,2015,den Dekker,Matthew,0.0,0.51,0.77,1.00,1.22,1.43,1.64,...,2.38,2.55,2.72,2.89,3.06,3.22,3.39,3.56,3.73,

In [8]:
# meters per second for players
d = 90 #ft
t = running_splits_df['seconds_since_hit_090']
s = d/t

# Creating new column to table and filling with values
running_splits_df_clean.insert(22,'player_speed_(f/s)', s)
running_splits_df_clean

,year,last_name,first_name,seconds_since_hit_000,seconds_since_hit_005,seconds_since_hit_010,seconds_since_hit_015,seconds_since_hit_020,seconds_since_hit_025,seconds_since_hit_030,...,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090,player_speed_(f/s),predicted_time_outcome
0,2022,Abrams,CJ,0.0,0.53,0.82,1.07,1.30,1.51,1.71,...,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82,23.560209,
1,2022,Abreu,José,0.0,0.57,0.92,1.20,1.45,1.68,1.90,...,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22,21.327014,
2,2022,Acuña Jr.,Ronald,0.0,0.54,0.85,1.10,1.33,1.54,1.74,...,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82,23.560209,
3,2022,Adames,Willy,0.0,0.55,0.87,1.14,1.38,1.61,1.82,...,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99,22.556391,
4,2022,Adams,Riley,0.0,0.56,0.89,1.16,1.41,1.64,1.86,...,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17,21.582734,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2015,Zobrist,Ben,0.0,0.56,0.87,1.12,1.36,1.59,1.81,...,2.78,2.96,3.14,3.32,3.49,3.67,3.85,4.03,22.332506,
500,2015,Zobrist,Ben,0.0,0.54,0.82,1.07,1.31,1.54,1.76,...,2.73,2.91,3.09,3.27,3.45,3.63,3.81,4.00,22.500000,
501,2015,Zunino,Mike,0.0,0.55,0.85,1.10,1.35,1.58,1.80,...,2.80,2.99,3.18,3.36,3.54,3.73,3.91,4.09,22.004890,
502,2015,d'Arnaud,Travis,0.0,0.56,0.86,1.13,1.38,1.61,1.83,...,2.82,3.01,3.19,3.38,3.56,3.74,3.93,4.13,21.791768,
503,2015,den Dekker,Matthew,0.0,0.51,0.77,1.00,1.22,1.43,1.64,...,2.55,2.72,2.89,3.06,3.22,3.39,3.56,3.73,24.128686,

In [9]:
# Checking df
running_splits_df_clean.head()

,year,last_name,first_name,seconds_since_hit_000,seconds_since_hit_005,seconds_since_hit_010,seconds_since_hit_015,seconds_since_hit_020,seconds_since_hit_025,seconds_since_hit_030,...,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090,player_speed_(f/s),predicted_time_outcome
0,2022,Abrams,CJ,0.0,0.53,0.82,1.07,1.30,1.51,1.71,...,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82,23.560209,
1,2022,Abreu,José,0.0,0.57,0.92,1.20,1.45,1.68,1.90,...,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22,21.327014,
2,2022,Acuña Jr.,Ronald,0.0,0.54,0.85,1.10,1.33,1.54,1.74,...,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82,23.560209,
3,2022,Adames,Willy,0.0,0.55,0.87,1.14,1.38,1.61,1.82,...,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99,22.556391,
4,2022,Adams,Riley,0.0,0.56,0.89,1.16,1.41,1.64,1.86,...,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17,21.582734,

In [10]:
# Exporting cleaned data
# running_splits_df_clean.to_csv("../Data/Clean_Data/running_splits_clean.csv", index = False)

In [11]:
# Initializing model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
# Creating X, y components
X = running_splits_df_clean.copy()
X_dropped = X.drop(columns = ['predicted_time_outcome',
                              'year',
                             'last_name',
                             ' first_name',
                             'seconds_since_hit_090',
                             'player_speed_(f/s)'], axis = 1)

y = pd.DataFrame(X['seconds_since_hit_090'])
y.head()

   seconds_since_hit_090
0                   3.82
1                   4.22
2                   3.82
3                   3.99
4                   4.17

In [13]:
# Renaming columns
renamed_X_dropped = pd.DataFrame(X_dropped.rename(columns={'seconds_since_hit_000':'00',
                                              'seconds_since_hit_005':'05',
                                              'seconds_since_hit_010':'10',
                                              'seconds_since_hit_015':'15',
                                              'seconds_since_hit_020':'20',
                                              'seconds_since_hit_025':'25',
                                              'seconds_since_hit_030':'30',
                                              'seconds_since_hit_035':'35',
                                              'seconds_since_hit_040':'40',
                                              'seconds_since_hit_045':'45',
                                              'seconds_since_hit_050':'50',
                                              'seconds_since_hit_055':'55',
                                              'seconds_since_hit_060':'60',
                                              'seconds_since_hit_065':'65',
                                              'seconds_since_hit_070':'70',
                                              'seconds_since_hit_075':'75',
                                              'seconds_since_hit_080':'80',
                                              'seconds_since_hit_085':'85'}))

# Creating list
headers = renamed_X_dropped.columns.to_list()
columns_new = headers
headers

['00',
 '05',
 '10',
 '15',
 '20',
 '25',
 '30',
 '35',
 '40',
 '45',
 '50',
 '55',
 '60',
 '65',
 '70',
 '75',
 '80',
 '85']

In [18]:
# Creating variance in running pattern based on ± running splits per 5ft
range_t = ['00',
           '±00',
           '±05',
           '05',
           '±05',
           '±10',
           '10',
           '±10',
           '±15',
           '15',
           '±15',
           '±20',
           '20',
           '±20',
           '±25',
           '25',
           '±35',
           '±30',
           '30',
           '±30',
           '±35',
           '35',
           '±35',
           '±40',
           '40',
           '±40',
           '±45',
           '45',
           '±45',
           '±50',
           '50',
           '±50',
           '±55',
           '55',
           '±55',
           '±60',
           '60',
           '±60',
           '±65',
           '65',
           '±65',
           '±70',
           '70',
           '±70',
           '±75',
           '75',
           '±75',
           '±80',
           '80',
           '±80',
           '±85',
           '85',
           '±85']
# Showing column names
print(range_t)

['00', '±00', '±05', '05', '±05', '±10', '10', '±10', '±15', '15', '±15', '±20', '20', '±20', '±25', '25', '±35', '±30', '30', '±30', '±35', '35', '±35', '±40', '40', '±40', '±45', '45', '±45', '±50', '50', '±50', '±55', '55', '±55', '±60', '60', '±60', '±65', '65', '±65', '±70', '70', '±70', '±75', '75', '±75', '±80', '80', '±80', '±85', '85', '±85']

In [15]:
# Creating empty dataframe of which I can place data
#data = []
#for row in some_function_that_yields_data():
    #data.append(row)

#df = pd.DataFrame(data)
#X_renamed = pd.DataFrame(columns = range_t)
#X_renamed.astype(float)

In [16]:
# Extracting column names
for i in range(len(columns_new)):
    col = columns_new[i]
    print(f"±{col},{col},±{col}")

±00,00,±00
±05,05,±05
±10,10,±10
±15,15,±15
±20,20,±20
±25,25,±25
±30,30,±30
±35,35,±35
±40,40,±40
±45,45,±45
±50,50,±50
±55,55,±55
±60,60,±60
±65,65,±65
±70,70,±70
±75,75,±75
±80,80,±80
±85,85,±85

In [20]:
for indices, row in renamed_X_dropped.iterrows():
    for column in headers:
        renamed_X_dropped.at[indices,column] = row[column] + 0.01
renamed_X_dropped.head()

,00,05,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85
0,0.09,0.61,0.90,1.15,1.38,1.59,1.79,1.98,2.17,2.35,2.52,2.70,2.87,3.03,3.20,3.37,3.53,3.71
1,0.08,0.65,1.00,1.28,1.53,1.76,1.98,2.19,2.40,2.60,2.79,2.98,3.17,3.35,3.54,3.72,3.91,4.10
2,0.08,0.62,0.93,1.18,1.41,1.62,1.82,2.01,2.20,2.38,2.56,2.73,2.90,3.07,3.24,3.40,3.57,3.73
3,0.08,0.63,0.95,1.22,1.46,1.69,1.90,2.10,2.29,2.48,2.66,2.84,3.02,3.20,3.37,3.54,3.72,3.89
4,0.08,0.64,0.97,1.24,1.49,1.72,1.94,2.15,2.35,2.55,2.74,2.94,3.12,3.31,3.50,3.68,3.87,4.05

In [ ]:
# Scalling the data
#from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
X_scaled = StandardScaler().fit_transform(X_dropped)
X_scaled = pd.DataFrame(X_scaled)

In [ ]:
# spliting the df into test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state = 1)

# Printing shape of test series
print(y_train.shape)
print(X_train.shape)

In [ ]:
fit_model = model.fit(X_train, y_train)
print(fit_model)

In [ ]:
y_pred = fit_model.predict(X_test)
print(y_pred)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(mse)
print(r2)

In [ ]:
df = pd.DataFrame()
df

In [ ]:
df['y_test'] = y_test['seconds_since_hit_090']
df['y_pred'] = y_pred
df.reset_index(inplace = True)
df.head(10)