In [8]:
# Importing dependiences 
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [9]:
# Importing data from csv files by year
data_2022 = pd.read_csv("../Data/Raw_Data/running_splits_2022.csv")
data_2021 = pd.read_csv("../Data/Raw_Data/running_splits_2021.csv")
data_2020 = pd.read_csv("../Data/Raw_Data/running_splits_2022.csv")
data_2019 = pd.read_csv("../Data/Raw_Data/running_splits_2022.csv")
data_2018 = pd.read_csv("../Data/Raw_Data/running_splits_2018.csv")
data_2017 = pd.read_csv("../Data/Raw_Data/running_splits_2017.csv")
data_2016 = pd.read_csv("../Data/Raw_Data/running_splits_2016.csv")
data_2015 = pd.read_csv("../Data/Raw_Data/running_splits_2015.csv")

In [10]:
# Inserting new column 'year' in each table
data_2022.insert(0, 'year', 2022)
data_2021.insert(0, 'year', 2021)
data_2020.insert(0, 'year', 2020)
data_2019.insert(0, 'year', 2019)
data_2018.insert(0, 'year', 2018)
data_2017.insert(0, 'year', 2017)
data_2016.insert(0, 'year', 2016)
data_2015.insert(0, 'year', 2015)

In [11]:
# Joining tables into the running_splits_dataframe
running_splits_df = pd.concat([data_2022, 
                              data_2021, 
                              data_2020,
                              data_2019, 
                              data_2018,
                              data_2017,
                              data_2016,
                              data_2015])
running_splits_df

,year,last_name,first_name,player_id,name_abbrev,team_id,position_name,age,bat_side,seconds_since_hit_000,...,seconds_since_hit_045,seconds_since_hit_050,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090
0,2022,Abrams,CJ,682928,WSH,120,SS,21,L,0.0,...,2.27,2.44,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82
1,2022,Abreu,José,547989,CWS,145,1B,35,R,0.0,...,2.52,2.71,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22
2,2022,Acuña Jr.,Ronald,660670,ATL,144,RF,24,R,0.0,...,2.30,2.48,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82
3,2022,Adames,Willy,642715,MIL,158,SS,26,R,0.0,...,2.40,2.58,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99
4,2022,Adams,Riley,656180,WSH,120,C,26,R,0.0,...,2.47,2.66,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2015,Zobrist,Ben,450314,KC,118,2B,34,R,0.0,...,2.41,2.59,2.78,2.96,3.14,3.32,3.49,3.67,3.85,4.03
500,2015,Zobrist,Ben,450314,KC,118,2B,34,L,0.0,...,2.35,2.54,2.73,2.91,3.09,3.27,3.45,3.63,3.81,4.00
501,2015,Zunino,Mike,572287,SEA,136,C,24,R,0.0,...,2.42,2.61,2.80,2.99,3.18,3.36,3.54,3.73,3.91,4.09
502,2015,d'Arnaud,Travis,518595,NYM,121,C,26,R,0.0,...,2.44,2.64,2.82,3.01,3.19,3.38,3.56,3.74,3.93,4.13
503,2015,den Dekker,Matthew,544925,WSH,120,LF,27,L,0.0,...,2.20,2.38,2.55,2.72,2.89,3.06,3.22,3.39,3.56,3.73

In [17]:
# Dropping unnessasry columns
running_splits_df_clean = running_splits_df.drop(['player_id',
                       'team_id',
                       'name_abbrev',
                       'bat_side',
                       'position_name',
                       'age'], axis = 1)
running_splits_df_clean

,year,last_name,first_name,seconds_since_hit_000,seconds_since_hit_005,seconds_since_hit_010,seconds_since_hit_015,seconds_since_hit_020,seconds_since_hit_025,seconds_since_hit_030,...,seconds_since_hit_045,seconds_since_hit_050,seconds_since_hit_055,seconds_since_hit_060,seconds_since_hit_065,seconds_since_hit_070,seconds_since_hit_075,seconds_since_hit_080,seconds_since_hit_085,seconds_since_hit_090
0,2022,Abrams,CJ,0.0,0.53,0.82,1.07,1.30,1.51,1.71,...,2.27,2.44,2.62,2.79,2.95,3.12,3.29,3.45,3.63,3.82
1,2022,Abreu,José,0.0,0.57,0.92,1.20,1.45,1.68,1.90,...,2.52,2.71,2.90,3.09,3.27,3.46,3.64,3.83,4.02,4.22
2,2022,Acuña Jr.,Ronald,0.0,0.54,0.85,1.10,1.33,1.54,1.74,...,2.30,2.48,2.65,2.82,2.99,3.16,3.32,3.49,3.65,3.82
3,2022,Adames,Willy,0.0,0.55,0.87,1.14,1.38,1.61,1.82,...,2.40,2.58,2.76,2.94,3.12,3.29,3.46,3.64,3.81,3.99
4,2022,Adams,Riley,0.0,0.56,0.89,1.16,1.41,1.64,1.86,...,2.47,2.66,2.86,3.04,3.23,3.42,3.60,3.79,3.97,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2015,Zobrist,Ben,0.0,0.56,0.87,1.12,1.36,1.59,1.81,...,2.41,2.59,2.78,2.96,3.14,3.32,3.49,3.67,3.85,4.03
500,2015,Zobrist,Ben,0.0,0.54,0.82,1.07,1.31,1.54,1.76,...,2.35,2.54,2.73,2.91,3.09,3.27,3.45,3.63,3.81,4.00
501,2015,Zunino,Mike,0.0,0.55,0.85,1.10,1.35,1.58,1.80,...,2.42,2.61,2.80,2.99,3.18,3.36,3.54,3.73,3.91,4.09
502,2015,d'Arnaud,Travis,0.0,0.56,0.86,1.13,1.38,1.61,1.83,...,2.44,2.64,2.82,3.01,3.19,3.38,3.56,3.74,3.93,4.13
503,2015,den Dekker,Matthew,0.0,0.51,0.77,1.00,1.22,1.43,1.64,...,2.20,2.38,2.55,2.72,2.89,3.06,3.22,3.39,3.56,3.73

In [ ]:
#